.search{
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  &__images{
    vertical-align: bottom;
    padding: 0 18px;
    &__name{
      background: white;
      height: 80px;
      color: black;
      margin-bottom: 50px;
      font-size: 18px;
      font-weight: lighter;
      padding: 25px 20px 0;
      &__price{
        background: white;
        left: 16px;
        font-weight: bolder;
        display: flex;
        padding-top: 30px;
        }

      }
    }
  }
