.footer
  .footer__links
    %span
      プライバシーポリシー  
    %span
      メルカリ利用規約  
    %span
      特定商取引に関する表記
  .footer__icons
    .footer__icons__icon
      
    .footer__icons__string
      © 2019 Mercari
