.default-container
  %header.sp-header.visible-sp
  %nav.bread-crumbs

  %main.contener
    .contener__content
      %section.contener__content_mypage-user
      -#  後に実装
        -# =link_to ""
      %section.contener__content__mypage-tab
        %ul
      