.single-vessel
  %header.single-vessel__header
    =image_tag "/assets/logo.svg",class:"mercari"
  %main.single-vessel__main
    .single-vessel__main__login-panel
      .single-vessel__main__login-panel__account
        %p アカウントをお持ちでないかたはこちら
        .login-account-a
          -# TODO: 上の１行をあとに変更
          -# = link_to ""
          新規会員登録
      .single-vessel__main__login-panel__inner
        %button{id: "facebook-login",class:"btn-default btn-sns-facebook"}
          %i.fab.fa-facebook-square.facebook-icon
          Facebookでログイン
        %button{id: "google-login",class:"btn-default btn-sns-google"}
          = image_tag "/assets/1492616990-1-google-search-logo-engine-service-suits_83412.png",class: "google-niji"
          Googleでログイン
      %form{method:"POST",novalidata: "novalidate"}
        .single-vessel__main__login-panel__form-inner
          .single-vessel__main__login-panel__form-inner__group
            %input{type: "email", name: "email", placeholder:"メールアドレス",class:"login-input-text input-default"}
          .single-vessel__main__login-panel__form-inner__group
            %input{type: "password",name: "password",placeholder:"パスワード",class:"login-input-text input-default"}
          .single-vessel__main__login-panel__form-inner__group
            .g-recaptcha.login-captcha{data:{callback: "clearcall",sitekey: "6Lfwx6kUAAAAALOfWVZb2LUqoHZGp2E9820kxx3A"}}
          %button{type:"submit",class:"login-submit btn-default btn-red"}
            ログイン
          -# TODO:あとに実装
          -# %input{type: "hidden",name:"login_callback",value: "https:"}
          -# %input{type: "hidden", name: "__csrf_value", value: ""}
          = link_to "パスワードをお忘れの方", "https://www.mercari.com/jp/password/reset/start/"
  %footer.single-vessel__footer
    %nav
      %ul.clearfix
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li 特定商取引に関する表記
    .single-vessel__footer__logo
      = image_tag "/assets/logo-gray.svg"

    %p
      %small ©︎ 2019 Mercari
