.single-vessel
  %header.single-vessel__header
    = image_tag "/assets/logo.svg",class:"mercari"
  %main.single-vessel__main
    %section.single-vessel__main__container
      %h2.single-vessel__main__container_head
        新規会員登録
      .single-vessel__main__container__inner
        .single-vessel__main__container__inner__content
          .btn-default.btn-mail
            -# =link_to "変更", ""
            %i.far.fa-envelope.mail-icon
            メールアドレスで確認
          %button{id: "facebook-login", class: "btn-default btn-sns-facebook"}
            %i.fab.fa-facebook-square.facebook-icon
            Facebookで登録
          %button{id: "google-login", class:"btn-default btn-sns-google"}
            = image_tag "/assets/1492616990-1-google-search-logo-engine-service-suits_83412.png",class:"google-niji"
            Googleで登録
    -# %form{id: "login_form_facebook",action: "",method: "POST",novalidate: "novalidate"}
    -# %form{id: "login_form_google",action:"",method:"POST",novalidate: "novalidate"}
      -# %input{type:"hidden",id:"google", value:""}
      -# %input{type:"hidden",id:"facebook_app_id", value:""}追加するもの
  %footer.single-vessel__footer
    %nav
      %ul.clearfix
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li 特定商取引に関する表記
    .single-vessel__footer_logo
      = image_tag "/assets/logo-gray.svg"
    %p
      %small ©︎ 2019 Mercari
      