
.headernew
  .headernew__icons
    = link_to root_path, class:'hovering' do
      = image_tag("m-logo.png",width:'250px',height:'80px',id:"titleIcon")
  .headernew__stepmeter
    .headernew__stepmeter__step
      .headernew__stepmeter__step__up
        %p 会員情報
      .headernew__stepmeter__step__statusbar
        .headernew__stepmeter__step__statusbar-Bef
        .headernew__stepmeter__step__statusbar-middle#circle
          ●
        .headernew__stepmeter__step__statusbar-Af
    .headernew__stepmeter__step
      .headernew__stepmeter__step__up
        %p 電話番号認証
      .headernew__stepmeter__step__statusbar
        .headernew__stepmeter__step__statusbar-BefAf
        .headernew__stepmeter__step__statusbar-middle
          ●
        .headernew__stepmeter__step__statusbar-BefAf
    .headernew__stepmeter__step
      .headernew__stepmeter__step__up
        %p お届先住所入力
      .headernew__stepmeter__step__statusbar
        .headernew__stepmeter__step__statusbar-BefAf
        .headernew__stepmeter__step__statusbar-middle
          ●
        .headernew__stepmeter__step__statusbar-BefAf
    .headernew__stepmeter__step
      .headernew__stepmeter__step__up
        %p お支払い方法
      .headernew__stepmeter__step__statusbar
        .headernew__stepmeter__step__statusbar-BefAf
        .headernew__stepmeter__step__statusbar-middle
          ●
        .headernew__stepmeter__step__statusbar-BefAf
    .headernew__stepmeter__step
      .headernew__stepmeter__step__up
        %span 完了
      .headernew__stepmeter__step__statusbar
        .headernew__stepmeter__step__statusbar-BefAf
        .headernew__stepmeter__step__statusbar-end
          ●        

