.categoryindex{
  width:90%;
  margin:0 auto;
  box-sizing:border-box;
  &__title{
    font-size:1.3rem;
    font-weight:bold;
    margin:30px 0 10px 0;
  }
  &__indexes{
    font-size:1.1rem;
    color:black;
    text-decoration:none;
    &__link{
      font-size:1.1rem;
      color:black;
      text-decoration:none;
      padding:15px;
      margin:5px;
      background-color:white;
      display:inline-block;
      width:auto;
      border-radius:5px;
    }
    &__link:hover{
      background-color:red;
      color:white;
      text-decoration:none;
    }
  }
  &__parent{
    height:100%;
    width:90%;
    margin:20px auto;
    &__red{
      background-color:red;
      font-size:1.3rem;
      font-weight:bold;
      color:white;
      border-radius:5px 5px 0 0;
      width:100%;
      z-index:100;
      padding:0 0 0 20px;
      box-sizing:border-box;
      height:40px;
      line-height:40px;
    }
    &__white{
      z-index:1;
      width:100%;
      font-size:1.1rem;
      background-color:white;
      box-sizing:border-box;
      // margin:0 0 0 0;
      &__all{
        font-size:1.1rem;
        box-sizing:border-box;
        height:60px;
        line-height:60px;
        padding:0 0 0 30px;
      }
      &__child{
        font-size:1.1rem;
        box-sizing:border-box;
        &__title{
          font-weight:bold;
          box-sizing:border-box;
          padding:0 0 0 30px;
          margin:20px 0 0 0;
          height:30px;
        }
        &__grandchild{
          clear:both;
          &__1{
            width:50%;
            float:left;
            height:30px;
            box-sizing:border-box;
            padding:0 0 0 60px;
          }
          &__2{
            width:50%;
            float:right;
            height:30px;
          }
        
        }
      }
  }
  
  }
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
