// #TODO 商品写真・購入ボタン・説明
.item{
  @include clearfix();
  margin: 24px auto 0;
  padding: 0 0 40px;
  box-sizing: border-box;
  display: table;
  &__content{
    width: 100%;
    @media screen and (min-width: 768px){
      float: none;
      width: 700px;
    }
    &__container{
      background: #fff;
      margin: 40px auto 0;
      padding: 24px 16px 55px 16px;
      @media screen and (min-width: 768px){
        padding: 24px 40px 40px;
      }
      &__name{
        font-size: 24px;
        text-align: center;
        line-height: 1.4;
        word-wrap: break-word;
      }
      &__main{
        @include clearfix();
        margin: 16px 0 0;
        &__photo{
          position: relative;
          min-width: 280px;
          max-width: 360px;
          min-height: 280px;
          margin: 0 auto;
          background: #fafafa;
          @media screen and (min-width: 768px){
            float:left;
            min-width: 300px;
            max-width: 300px;
            min-height: 375px;
          }
          &__carousel{
            position: relative;
            &__outer{
              position: relative;
              overflow: hidden;
              &__stage{
                left: 0;
                width: 300px;
                position: relative;
                &__owl{
                  width: 300px;
                  min-height: 1px;
                  float: left;
                  &__inner{
                    position: relative;
                    width: 100%;
                    height: 0;
                    // padding: 0 0 100%;
                    min-height: 300px;
                  }
                }
              }
            }
          }
        }
        &__detail{
          width: 100%;
          max-width: 360px;
          margin: 8px auto 0;
          border-collapse: collapse;
          border: 1px solid #f5f5f5;
          @media screen and (min-width: 768px){
            float: right;
            max-width: 300px;
            height: 420px;
            margin: 0 auto;
          }
          th{
            width: 39%;
            text-align: left;
            font-weight: 400;
            background: #fafafa;
            border: 1px solid #f5f5f5;
            padding: 16px 8px;
            @media screen and (min-width: 768px){
              padding: 8px;
            }
          }
          td{
            width: 61%;
            background: #fff;
            border: 1px solid #f5f5f5;
            padding: 16px 8px;
            @media screen and (min-width: 768px){
              padding: 8px;
            }
          }
          &__rank{
            display: inline-block;
            margin: 8px 0 0 16px;
            &__good{
              color: #ef5185;
            }
            &__normal{
              color: #fba933;
            }
            &__bad{
              color: #6ab5d8;
            }
          }
          .item__content__container__main__detail__rank:first-child{
            margin: 0;
          }
          a{
            display: block;
            margin: 16px 0 0;
            @media screen and(min-width: 768px){
              margin: 0;
            }
          }
          a:first-child{
            margin: 0;
          }
          .fa-chevron-right{
            display:flex;
            color: #0099e8;
          }
        }
      }
      &__price{
        margin: 24px 0 0;
        text-align: center;
        &__bold{
          margin: 0 8px 0 0;
          font-size: 32px;
          font-weight: 600;
          display: inline-flex;
          @media screen and (min-width: 768px){
            margin: 0 16px 0 0;
            font-size: 50px;
          }
        }
        &__tax{
          font-size: 10px;
        }
        &__fee{
          display: inline-block;
          font-size: 16px;
        }
        &__buy{
          display: block;
          height: 56px;
          margin: 16px 0 0;
          background: #ea352d;
          color: #fff;
          line-height: 56px;
          text-align: center;
          font-weight: 600;
          font-size: 18px;
          @media screen and (min-width: 768px){
            height: 60px;
            line-height: 60px;
            font-size: 24px;
          }
        }
      }
      &__description{
        padding: 24px 0 0;
        line-height: 1.5;
        font-size: 14px;
        @media screen and (min-width: 768px){
          padding: 32px 0 0;
          font-size: 18px;
        }
        &__inner{
          white-space: pre-wrap;
        }
      }
      &__button{
        @include clearfix();
        margin: 16px 0 0;
        font-size: 0;
        &__left{
          float: left;
          &__like{
            color: #333;
            border: 1px solid #f5f5f5;
            display: inline-block;
            padding: 8px 16px;
            border-radius: 40px;
            background: #f5f5f5;
            &__border{
              font-size: 14px;
              vertical-align: middle;
            }
            &__down{
              display: inline-block;
              margin: 1px 0 0 8px;
              font-size: 12px;
              vertical-align: middle;
              @media screen and (min-width: 768px){
                font-size: 14px;
              }
            }
          }
          &__report{
            @include clearfix();
            display: inline-block;
            padding: 8px 16px;
            color: #333;
            background: #f5f5f5;
            margin: 0 0 0 8px;
            border: 1px solid #f5f5f5;
            border-radius: 40px;
            @media screen and(min-width: 768px){
              margin: 0 0 0 16px;
            }
            &__flag{
              font-size: 14px;
              vertical-align: middle;
            }
            &__improper{
              display: inline-block;
              margin: 1px 0 0 8px;
              font-size: 12px;
              vertical-align: middle;
              @media screen and (min-width: 768px){
                font-size: 14px;
              }
            }
          }
        }
        &__right{
          margin: 16px 0 0;
          @media screen and (min-width: 768px){
            margin: 8px 0 0;
            float: right;
          }
          a{
            display: inline-block;
          }
          i{
            font-size: 14px;
            vertical-align: middle;
            color: #0099e8;
          }
          span{
            display: inline-block;
            margin: 1px 0 0 8px;
            font-size: 12px;
            vertical-align: middle;
            color: #0099e8;
            @media screen and (min-width: 768px){
              font-size: 14px;
            }
          }
        }
      }
    }
    &__change{
      padding: 8px 16px 8px 16px;
      background: #fff;
      margin: 24px 0 24px 0;
      &__default{
        margin: 16px 0 16px 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
      }
      &__center{
        font-size: 16px;
        text-align: center;
      }
      &__gray{
        margin: 16px 0 16px 0;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
      }
    }
    &__message{
      margin: 8px auto;
      @media screen and (min-width: 768px){
        width: 700px;
      }
      &__container{
        &__content{
          padding: 24px 7.5%;
          background: #fff;
          @media screen and (min-width: 768px){
            padding: 24px;
          }
          &__form{
            p{
              padding: 8px;
              font-size: 14px;
              background: #fff6de;
            }
            &__default{
              margin: 8px 0 0;
              display: block;
              width: 100%;
              max-width: 100%;
              min-height: 104px;
              padding: 10px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
              line-height: 1.5;
              outline: none;
              box-sizing: border-box;
            }
            .item__content__message__container__content__form__default:focus{
              border-color: #0099e8;

            }
            &__submit{
              width: 100%;
              margin: 8px 0 0;
              font-size: 0;
              text-align: center;
              background: #aaa;
              border: 1px solid #aaa;
              color: #fff;
              line-height: 48px;
              span{
                font-size: 14px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
    &__link{
      @include clearfix();
      margin: 24px 4% 0;
      list-style: none;
      @media screen and(min-width: 768px){
        margin: 24px auto 0;
        width: 700px;
      }
      &__prev{
        float: left;
        padding: 0 0 0 14px;
        position: relative;
        width: 43%;
        word-wrap: break-word;
        @media screen and (min-width: 768px){
          width: 45%;
        }
        a{
          color: #0099e8;
          text-decoration: none;
        }
        i{
          position: absolute;
          top: 50%;
          color: #0099e8;
          left: 0;
        }
      }
      &__next{
        float: right;
        padding: 0 14px;
        text-align: right;
        position: relative;
        width: 43%;
        word-wrap: break-word;
        @media screen and (min-width: 768px){
          width: 45%;
        }
        a{
          color: #0099e8;
          text-decoration: none;
        }
        i{
          position: absolute;
          top: 50%;
          color: #0099e8;
          right: 0;
        }
      }
    }
    &__media{
      margin: 24px 0 0;
      background: #fff;
      padding: 16px 0 8px;
      @media screen and (min-width: 768px){
        margin: 24px auto;
        padding: 32px 0 24px;
        width: 700px;
      }
      &__text{
        text-align: center;
      }
      &__social{
        margin: 16px 0 0;
        text-align: center;
        font-size: 0;
        list-style: none;
        li{
          display: inline-block;
          margin: 0 8px 8px 0;
          vertical-align: middle;
          text-align: center;
        }
        &__share{
          display: block;
        }
        &__face{
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          font-size: 26px;
          background: #385185;
          color: #fff;
        }
        &__twitter{
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          font-size: 24px;
          color: #fff;
          background: #5d9dc9;
        }
        &__line{
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          color: #fff;
          background: #00c137;
          font-size: 22px;
        }
        &__hidden{
          display: inline-block;
          margin: 0 8px 8px 0;
          vertical-align: middle;
          text-align: center;
        }
        &__square{
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          color: #fff;
          background: #aa262a;
          font-size: 18px;
        }
      }
    }
    &__profile{
      @media screen and (min-width: 768px){
        width: 700px;
        margin: 0 auto;
      }
      &__column{
        @include clearfix();
        &__head{
          font-size: 18px;
          margin: 24px 4% 8px;
          line-height: 1.4;
          @media screen and (min-width: 768px){
            font-size: 22px;
            margin: 24px 0 8px;
          }
        }
        &__content{
          @include clearfix();
          width: 92%;
          margin: 0 auto;
          @media screen and (min-width: 768px){
            width: auto;
          }
          &__box{
            position: relative;
            width: 48px;
            margin: 0 0 4% 4%;
            background: #fff;
            @media screen and (min-width: 768px){
              width: 220px;
              margin: 0 20px 20px 0;
            }
            a{
              display: block;
              color: #333;
            }
            &__photo{
              overflow: hidden;
              position: relative;
              width: 100%;
              height: 0;
              @media screen and (min-width: 768px){
                width: 220px;
                height: 220px;
              }
              &__lazy{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
              }
            }
            &__body{
              padding: 8px;
              height: 110px;
              box-sizing: border-box;
              @media screen and (min-width: 768px){
                padding: 16px;
              }
              &__name{
                overflow: hidden;
                position: relative;
                font-weight: 400;
                height: 3em;
                line-height: 1.5;
                font-size: 16px;
                color: #333;
              }
              &__num{
                margin: 8px 0 0;
                justify-content: space-between;
                align-items: center;
                display: flex;
                &__price{
                  font-size: 20px;
                  font-weight: 600;
                  color: #333;
                  @media screen and (min-width: 768px){
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
      &__item{
        @include clearfix();
        margin-bottom: 40px;
        &__head{
          font-size: 18px;
          margin: 24px 0 8px;
          line-height: 1.4;
          @media screen and (min-width: 768px){
            font-size: 22px;
            margin: 24px 0 8px;
          }
        }
        &__content{
          width: 92%;
          margin: 0 auto;
          @media screen and (min-width: 768px){
            width: auto;
          }
          &__box{
            position: relative;
            float: left;
            width: 48px;
            margin: 0 4px 4px 0;
            background: #fff;
            @media screen and (min-width: 768px){
              width: 220px;
              margin: 0 20px 20px 0;
            }
            a{
              display: block;
              color: #333;
            }
            &__photo{
              overflow: hidden;
              position: relative;
              width: 100%;
              height: 0;
              @media screen and (min-width: 768px){
                width: 220px;
                height: 220px;
              }
              &__lazy{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
              }
            }
            &__body{
              padding: 8px;
              height: 110px;
              box-sizing: border-box;
              @media screen and (min-width: 768px){
                padding: 16px;
              }
              &__name{
                overflow: hidden;
                position: relative;
                font-weight: 400;
                height: 3em;
                line-height: 1.5;
                font-size: 16px;
                color: #333;
              }
              &__num{
                margin: 8px 0 0;
                justify-content: space-between;
                align-items: center;
                display: flex;
                &__price{
                  font-size: 20px;
                  font-weight: 600;
                  color: #333;
                  @media screen and (min-width: 768px){
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.interim{
  background: #fff;
  padding: 24px 16px 55px 16px;
  @media screen and (min-width: 768px){
    padding: 24px 40px 40px;
  }
}
