.mypage {
  display: flex;
  justify-content: space-between;
  width: 1020px;
  margin: auto;
  padding: 40px;

  &__content {
    width: 700px;
  }
}

.mypage__content .credit {
  background-color: white;
  &__head{
    height: 50px;
    font-size: 24px;
    border-bottom: 2px solid $background-gray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    padding: 64px;
    &__head{
      width: 320px;
      height: 16px;
      margin: 0 auto;
    }
    &__card {
      border-bottom: 2px solid $background-gray;
      &__group{
        width: 320px;
        margin: 0 auto;
        padding: 24px 0;
        position: relative;
        img {
          max-width: 49px;
          height: 20px;
        }
        &__no {
          margin-top: 8px;
          font-size: 16px;
        }
        &__date {
          margin-top: 8px;
          font-size: 16px;
        }
        &__remove {
          position: absolute;
          top: 24px;
          right: 0;
          width: 70px;
          height: 25px;
          background-color: white;
          border-radius: 3px;
          border: 1px solid $mercari-red;
          color: $mercari-red;
          font-size: 14px;
          line-height: 1;
          cursor: pointer;
        }
      }
      &__link {
        width: 320px;
        height: 50px;
        background-color: $mercari-red;
        margin: 24px auto 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i {
          color: white;
          margin-right: 16px;
          font-size: 16px;
        }
        span {
          color: white;
          font-size: 14px;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }
    &__payment{
      padding-top: 40px;
      text-align: right;


      span:hover {
        opacity: 0.9;
        text-decoration: underline;
      }
    }

    &__form {
      width: 320px;
      margin: 0 auto;
      &__group {
        margin-bottom: 30px;
        label {
          font-weight: bold;
        }
        &__require {
          background-color: $mercari-red;
          margin-left: 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: white;
          font-size: 12px;
          vertical-align: top;
        }
        .number {
          width: 288px;
          height: 30px;
          padding: 10px 16px 8px;
          margin-top: 8px;
          border-radius: 4px;
          border: 1px solid $box-gray2;
          line-height: 1.5;
          font-size: 14px;
        }
        &__list{
          display: flex;
          justify-content: flex-start;
          margin-top: 8px;
          list-style: none;
          li {
            height: 20px;
            margin-left: 8px;
          }
        }
        select {
          width: 130px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid $box-gray2;
          background-color: white;
          font-size: 14px;
          padding: 0 16px;
          margin-top: 8px;
          cursor: pointer;
        }
        .cvc {
          width: 288px;
          height: 30px;
          padding: 10px 16px 8px;
          margin-top: 8px;
          border-radius: 4px;
          border: 1px solid $box-gray2;
          line-height: 1.5;
          font-size: 14px;
        }
        &__help {
          text-align: right;
          color: $font-blue;
          margin-top: 8px;
          &__icon {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $font-blue;
            color: white;
            line-height: 14px;
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }
  }
}

