.mypage {
  display: flex;
  justify-content: space-between;
  width: 1020px;
  margin: auto;
  padding: 40px;

  &__content {
    width: 700px;
  }
}

.mypage__content .credit {
  background-color: white;
  &__head{
    height: 50px;
    font-size: 24px;
    border-bottom: 2px solid $background-gray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    padding: 64px;
    &__head{
      width: 320px;
      height: 16px;
      margin: 0 auto;
    }
    &__card {
      padding: 24px 0;
      border-bottom: 2px solid $background-gray;
      &__link {
        width: 320px;
        height: 50px;
        background-color: $mercari-red;
        margin: 0 auto 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: white;
          margin-right: 16px;
          font-size: 16px;
        }
        span {
          color: white;
          font-size: 14px;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }
    &__payment{
      padding-top: 40px;
      text-align: right;


      span:hover {
        opacity: 0.9;
        text-decoration: underline;
      }
    }
  }
}

