.Container{

  .mypage {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    padding: 40px;
    margin: 0 auto;

    &__content {
      width: 700px;
    }
  }

  .mypage__content .logout {
    background-color: white;
    padding: 64px;

    &__link {
      width: 320px;
      height: 50px;
      margin: 0 auto;
      background-color: $mercari-red;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      .links{
        display:block;
        width:100%;
        text-align:center;
      a {
        color: white;
      }
    }
  }
}
