.mypage {
  display: flex;
  justify-content: space-between;
  width: 1020px;
  margin: auto;
  padding: 40px;

  &__content {
    background-color: white;
    width: 700px;
    height: 180px;
    
    .logout {
      background-color: $mercari-red;
      height: 50px;
      width: 320px;
      margin: 65px auto;

      &__link{
        color: white;
        line-height: 50px;
        text-align: center;
      }
    } 
  }
}
