// 全体に関するSCSS
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "./top";
@import 'user';
@import 'login_users';
@import 'reset';
@import 'config/colors';
@import "./links";
@import 'mixins/clearfix.scss';
@import 'mixins/single-box.scss';
@import 'config/font.scss';

// 個別ビューに関するSCSS
@import 'user';
@import 'login_users';
@import 'mypage';
@import 'logout_users';

@import 'registrations/registrations';
@import 'registrations/_stepMeter';
@import 'registrations/_stepMeterFooter';
@import 'detail/product-detail';
@import 'detail/_tbody.scss';
@import 'mypage-nav';
@import 'card';
@import "./confirm_purchace";
@import "detail/_other.scss";
@import "confirms/edit.scss";
