.mainframe{
  background-color:#ffffff;
  width:100%;
  height:100%;
  &__title{
    background-color:#ffffff;
    color:#333333;
    text-align:center;
    border-bottom:medium solid #F5F5F5;
    background-color:white;
  }
  &__contents{
    margin:0 auto;
    width:60%;
    height:100%;
    background-color:#ffffff;
    &__unit{
      height:100%;
      margin:20px;
      span{
        background-color:#EA352D;
        color:white;
        line-height:100%;
        border-radius:2px;
        padding:3px;
        margin:7px;
      }
      input{
        width:100%;
        margin-top:10px;
        height:40px;
        line-height:40px;
        font-size:1rem;
      }
    }
  }
}
