$input-height:40px;
.mainframe{
  background-color:#ffffff;
  width:700px;
  height:100%;
  &__title{
    background-color:#ffffff;
    color:#333333;
    text-align:center;
    border-bottom:medium solid #F5F5F5;
    background-color:white;
  }
  &__contents{
    margin:0 auto;
    width:60%;
    height:100%;
    background-color:#ffffff;
    &__unit{
      height:100%;
      margin:20px;
      p{
        margin-top:10px;
      }
      &__span{
        background-color:#EA352D;
        color:white;
        line-height:100%;
        border-radius:2px;
        padding:3px;
        margin:7px;
      }
      input{
        width:100%;
        margin-top:10px;
        height:$input-height;
        line-height:$input-height;
        font-size:1rem;
      }
      &__lists{
        display:flex;
        margin-top:10px;
        &__list{
          width:33%;
          position:relative;
          &__span{
            background-color:#ffffff;
            position:absolute;
            right:7%;
            top:30%;

          }
          select{
            height:$input-height;
            line-height:$input-height;
            appearance:none;
            -webkit-appearance:none;
            -webkit-appearance:none;
            width:80%;
            text-align:center;
            line-height:$input-height;
            font-size:0.8rem;
          }
          i{
            position:absolute;
            right:25%;
            top:30%;
          }
        }
      }
      &__sentence1{
        color:#888888;
      }
    }
  }
}
