.header{
  background-color: white;
  z-index:10;
  width:100%;
  &__inter{
    width: 700px;
    margin: 0 auto;
    padding: 8px 0 0;
    @media screen and (min-width: 1068px){
      width: 1020px;
    }
  }
  &__row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__forms{
      height: 40px;
      margin-left: 45px;
      display:flex;
      position:relative;
      width: 100%;
      // #TODO フレックスアイテムをフレックスコンテナーの領域に収めるために伸長・収縮させるかを指定する
      flex: 1;
      &__input{
        padding: 0 42px 0 10px;
        height: 40px;
        width: 100%;
        background-color: #F5F5F5;
        border-radius: 4px;
        transition: all ease-out .3s;
        border: 1px solid #ccc;
        font-size: 16px;
      }
      .header__row1__forms__input:focus{
        border-color: #0099e8;
        outline: 0;
      }
      &__search{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
      }
    }
  }
  // #TODO カテゴリーから探す・ブランドから探す
  &__row2{
    height: 44px;
    margin: 8px 0 0;
    &__left{
       float: left;
       ul{
         list-style: none;
       }
      &__category{
        font-size: 0;
        h2{
          font-size: 14px;
          line-height: 30px;
        }
        &__parent{
          font-weight: bold;
        }
        &__red{
          color: #ea352d;
          font-size: 12px;
          margin-right: 4px;
        }
        span{
          vertical-align: middle;
        }
        &__cat{
          color: #ea352d;
          font-size: 12px;
          margin-right: 4px;
        }
      }
      .header__row2__left__category>li:first-child{
        padding-left: 0;
      }
      .header__row2__left__category>li{
        position: relative;
        display: inline-block;
        padding: 0 11px;
        cursor: pointer;
      }
      .header__row2__left__category> li:last-child{
        padding-right: 0;
      }
    }
      // #TODO ヘッダー右部分
      &__right{
         float: right;
         ul{
           list-style: none;
         }
         
        .header__row2__right__nav>li:first-child{
          padding-left: 0;
        }
        // #TODO いいね一覧・お知らせ・やることリスト・マイページ
        &__nav{
          &__liked{
            display:none;
            &__menu{
              position: relative;
              display: block;
              font-size: 0;
              color: #333;
              line-height: 32px;
            }
            &__heart{
              font-size: 18px;
              color: #ccc;
            }
            &__bell{
              font-size: 20px;
              color: #ccc;
            }
            &__check{
              font-size: 16px;
              color: #ccc;
            }
            span{
              margin-left: 10px;
              font-size: 14px;
            }
          }
          figure{
            display: inline-block;
            text-align: center;
            vertical-align: middle;
          }
        }
        .header__row2__right__nav>li{
          position: relative;
          display: inline-block;
          padding: 0 7px;
          cursor: pointer;
        }
        // #TODO 新規会員登録とログインボタン
      &__login{
        &__new{
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          padding: 5px 10px;
          line-height: 30px;
          border-radius: 4px;
        }
        &__as{
          display: block;
          border: 1px solid #0099e8;
          background: #fff;
          color: #0099e8;
          margin: 0;
          padding: 0px 10px;
          line-height: 30px;
          border-radius: 4px;
        }
      }
      .header__row2__right__nav>li:last-child{
        padding-right: 0;
      }
      .header__row2__right__login>li:first-child{
        margin: 0;
      }
      .header__row2__right__login>li{
        display: inline-block;
        margin: 0 0 0 8px;
      }
      .header__row2__right__login__as:hover{
        background: #0099e8;
        color: #fff;
      }
    }
  }
}


.contents {
  width: 100%;
  & .top-images{
    vertical-align: bottom;
  }
	&__top__image-box {
    background-image: url("/images/m-banner.jpg");
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
		height: 390px;
    background-position: center;
    background-size: cover;
	}
	&__container{
		text-align: center;
    background-color: #f5f5f5;
    margin: 0 auto;
    
		&_title{
      padding-top: 40px;
			font-size: 28px;
			font-weight: bold;
    }
		&__item{
      width: 100%;
      margin: 0 auto;
      text-align: center;
			&_title{
				margin: 30px 0;
				font-size: 22px;
				display: block;
				color: #0099e8;
        font-weight: bold;
        &_itembox{
          width: 990px;
          margin: 0 auto;
          display: flex;
          padding-top: 30px;
          &_images{
            margin: 0 auto;
            vertical-align: bottom;
          }
            &_image-title{
              background-color: white;
              height: 90px;
              width: 215px;
              color: black;
              padding-top: 20px;
            }
        }
      }
      &_link{
        display: block;
        padding: 20px 0 30px;
        text-align: right;
        color: #0099e8;
        &_text{
          text-decoration: none;
        }
      }



    }
  }
  &__under__image{
    height: 260px;
    background-image: url(/images/under-image2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &_imagesub{
      float: right;
      margin-right: 300px;
    }
    &__contents{
      width: 800px;
      height: 260px;
      margin: 0 auto;
      position: relative;
      &_show{
        position: absolute;
        font-size: 24px;
        color: #fff;
        padding-top: 40px;
      }
      &_download{
        font-size: 35px;
        color: #fff;
        padding: 70px 0 30px 0;
      }
    }
  & .appstore{
    padding: 0 5px 10px 20px;

  }
  & .google-play{
    padding: 0 5px 10px;
  }
  }
}




.footer {
  padding: 70px 0 2px;
  background-color: #212121;
  color: #fff;
  text-align: center;
  width: 100%;

  &__contents{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1000px;
    &__links {
      margin: 0 30px;
      width: 20%;
      &_title{
        font-size: 18px;
        font-weight: normal;
        line-height: 40px;
        text-align: left;
        padding-bottom: 10px;
        }
      &_link{
        text-decoration: none;
        line-height: 25px;
        list-style: none;
        margin: 2px 0;
        font-size: 11px;
        text-align: left;
        width: 300px;
        opacity: 0.7;
        }
      }
    }
  &__sns-link{
    display: flex;
    float: left;
    font-size: 35px;
    margin-right: 30px;
    &_twitter{
      padding: 0 25px 0 70px;
      color: white;
    }
    &_facebook{
      color: white;

    }
  }
  
  &__logo{ 
    margin: 60px;

    &_text{
      font-size: 14px;
      margin: 8px 0 0;
      margin: 30px;
      }
    }
  }
  .camera{
    height: 160px;
    width: 160px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    border-radius: 50%;
    background-color: #ea352d;
    text-align: center;
    .camera-icon{
      display: block;
      color: #fff;
      font-size: 70px;
      margin: 30px auto 0;
    }
      .text{
        display: block;
        color: #fff;
        font-size: 23px;
        margin: 10px auto 0;
      }
  }
