.mainframe{
  background-color:white;
  width:100%;
  height:100%;

  &__title{
    padding:10px;
    font-size:24px;
    background-color:white;
    color:#333333;
    text-align:center;
    border-bottom:medium solid #F5F5F5;
    background-color:white;
    margin-bottom:100px;
  }
  &__explain{
    margin-top:100px;
    margin: 0  auto;
    left:0;
    right:0;
    width:80%;
    line-height:150%;
    &__upload{
      text-align:right;
      color:#1A99E8;
      width:100%;
      line-height:250%;
    }
  }
  .contents{
    margin:0 auto;
    width:80%;
    height:100%;
    background-color:white;
    left:0;
    right:0;
    top:0;
    bottom:0;
    &__certificationLink{
      color:#1A99E8;
      text-align:right;
      line-height:250%;
    }
    &__informations{
      &__information{
        margin:50px 0;
        b{
          line-height:250%;
        }
      }
    }
    &__inputs{
      &__unit{
        margin:50px 0 0 0;
        // background-color:red;
        b{
          line-height:250%;
        }
        span{
          background-color:#CCCCCC;
          color:white;
          border-radius:3px;
          padding:5px;
          font-size:80%;
        }
        &__inputbox{
          width:100%;
          position:relative;
          input,&__list{
            width:100%;
            border-radius:3px;
            height:40px;
            font-size:120%;
          }
          select{
            appearance:none;
            -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
            -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
          }
          &__icon{
            position:absolute;
            right:7px;
            top:10px;
            font-size:150%;
            z-index:5;
            color:#888888;
          }

          &__registerButton{
            background-color:red;
            color:white;
            line-height:400%;
            text-align:center;
            width:100%;
          }
          &__registerLink{
            color:#1A99E8;
            text-align:right;
            width:100%;
            margin:40px 0;
            // background-color:red;
          }
        }
      }
    }
  }
}
