= render partial: "layouts/header"
- breadcrumb :categories
= breadcrumbs separator: " &rsaquo; ", link_current: true

.categoryindex
  .categoryindex__pc
    .categoryindex__pc__gray
      %h2
        カテゴリー一覧
    .categoryindex__pc__list.clearfix
      -@product_categories.each_with_index do |category,i|
        = link_to category.name,"#root_category-" +(i+1).to_s,anchor:"root_category-", class:"categoryindex__pc__list__name"
    
    .categoryindex__pc__box
    - @product_top.each do |ptop|
      .categoryindex__pc__box__white.clearfix
        .categoryindex__pc__box__white__name
          %h3#root_category-1
            %span
            = ptop.name
