= render partial: "layouts/header" 
- breadcrumb :logout
= breadcrumbs separator: " &rsaquo; ", link_current: true
.Container
  %header
  .mypage
    = render partial: "/mypage-nav"
    .mypage__content
      .logout
        .logout__link ログアウト
        -# あとでlink_to追加
  %footer

= render partial: "layouts/footer"
