= render partial: "layouts/header" 


.Container
  %header
  .mypage
    = render partial: "/mypage-nav"
    .mypage__content
      .logout
        .logout__link
          = link_to "ログアウト", destroy_user_session_path, method: :delete 
  %footer

= render partial: "layouts/footer"
