.mainframe
  .mainframe__title
    %b 会員情報入力
  .mainframe__contents
    .mainframe__contents__unit
      %b ニックネーム
      %span.mainframe__contents__unit__span 必須
      %input{placeholder:'例)メルカリ太郎'}
    .mainframe__contents__unit
      %b メールアドレス
      %span.mainframe__contents__unit__span 必須
      %input{placeholder:'PC・携帯どちらでも可'}
    .mainframe__contents__unit
      %b パスワード
      %span.mainframe__contents__unit__span 必須
      %input{type:"password",placeholder:'6文字以上'}
    .mainframe__contents__unit
      %b パスワード(確認)
      %span.mainframe__contents__unit__span 必須
      %input{type:"password",placeholder:'6文字以上'}
    .mainframe__contents__unit
      %b 本人確認
      %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
    .mainframe__contents__unit
      %b 姓(全角)
      %span.mainframe__contents__unit__span 必須
      %input{placeholder:'例(山田'}
    .mainframe__contents__unit
      %b 名(全角)
      %span.mainframe__contents__unit__span 必須
      %input{placeholder:'例(彩'}
    .mainframe__contents__unit
      %b 姓カナ(全角)
      %span.mainframe__contents__unit__span 必須
      %input{placeholder:'例(ヤマダ'}
    .mainframe__contents__unit
      %b 名カナ(全角)
      %span.mainframe__contents__unit__span 必須
      %input{placeholder:'例(アヤ'}
    .mainframe__contents__unit
      %b 生年月日
      %span.mainframe__contents__unit__span 必須
      .mainframe__contents__unit__lists
        .mainframe__contents__unit__lists__list
          %select{name:"year"}
            %option　2019
          %i.fas.fa-chevron-down
          %span.mainframe__contents__unit__lists__list__span 年
        .mainframe__contents__unit__lists__list
          %select{name:"month"}
            %option　1
          %i.fas.fa-chevron-down
          %span.mainframe__contents__unit__lists__list__span 月
        .mainframe__contents__unit__lists__list
          %select{name:"day"}
            %option　1
          %i.fas.fa-chevron-down
          %span.mainframe__contents__unit__lists__list__span 日
    .mainframe__contents__unit
      %p.mainframe__contents__unit__sentence1 ※本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
    .mainframe__contents__unit#rule
      %span 「次へ進む」のボタンを押すことにより、
      =link_to "利用規約","https://www.mercari.com/jp/tos_list/"
      %span に
      %p 同意したものとみなします。
    .mainframe__contents__unit
      = link_to '次へ進む', "https://www.mercari.com/jp/tos_list/",id:"proceedbutton"
