= render partial: "layouts/header" 
.search
  - @search_products.each do |product|
    .search__images
      - product.images.each do |image|
        =image_tag image, size: "215x250"
      .search__images__name
        = product.name
        .search__images__name__price
          ¥
          %p
            = product.price

= render partial: "layouts/footer"