.contents__container__item_title_itembox
  - @ladies.each do |product|
    .contents__container__item_title_itembox_images
      = link_to image_tag (url_for(product.images.first)), size: "215x250"
      .contents__container__item_title_itembox_image-title
        = product.name
        .contents__container__item_title_itembox_price
          ¥
          %p
            = product.price