.contents__container__item_title_itembox
  - @men.each do |product|
    .contents__container__item_title_itembox_images
      = link_to image_tag(product.images.slice(0), size: "215x250"), product_path(product.id)
      .contents__container__item_title_itembox_image-title
        = product.name
        .contents__container__item_title_itembox_price
          ¥
          %p
            = product.price