%footer
.confirm-info__footer
  %ul
    %li.confirm-info__footer__pravacy
      =link_to "" "プライバシーポリシー"
    %li.confirm-info__footer__rule
      =link_to "" "メルカリ利用規約"
    %li.confirm-info__footer__commerce-rule
      =link_to "" "特定商取引に関する表記"
  .confirm-info__footer__icon
    =link_to "", method:"" do
      = image_tag "/images/logo-gray.svg"
  %small ©️2019 Mercari
